In [1]:
import pandas as pd

In [7]:
# shrinkage 1e-6
nom = 1.189
df = pd.DataFrame(
    dict(
        mean=[1.156, 1.139, 1.185],
        std=[0.428, 0.364, 0.468],
    ),
    index=["circ", "oval", "shape"],
)
df["effect"] = df["mean"] - nom
df["cohen"] = df["effect"] / df["std"]
df

        mean    std  effect     cohen
circ   1.156  0.428  -0.033 -0.077103
oval   1.139  0.364  -0.050 -0.137363
shape  1.185  0.468  -0.004 -0.008547

In [8]:
# shrinkage 1e-4
nom = 5.502
df = pd.DataFrame(
    dict(
        mean=[4.843, 4.778, 4.377],
        std=[1.038, 1.063, 1.559],
    ),
    index=["circ", "oval", "shape"],
)
df["effect"] = df["mean"] - nom
df["cohen"] = df["effect"] / df["std"]
df

        mean    std  effect     cohen
circ   4.843  1.038  -0.659 -0.634875
oval   4.778  1.063  -0.724 -0.681091
shape  4.377  1.559  -1.125 -0.721616

In [9]:
# neck 1e-6
nom = 24.861
df = pd.DataFrame(
    dict(
        mean=[23.664, 23.267, 21.502],
        std=[3.856, 3.215, 4.017],
    ),
    index=["circ", "oval", "shape"],
)
df["effect"] = df["mean"] - nom
df["cohen"] = df["effect"] / df["std"]
df

         mean    std  effect     cohen
circ   23.664  3.856  -1.197 -0.310425
oval   23.267  3.215  -1.594 -0.495801
shape  21.502  4.017  -3.359 -0.836196

In [13]:
# neck 1e-4
nom = 45.734
df = pd.DataFrame(
    dict(
        mean=[41.792, 41.782, 38.138],
        std=[8.607, 7.427, 9.369],
    ),
    index=["circ", "oval", "shape"],
)
df["effect"] = df["mean"] - nom
df["cohen"] = df["effect"] / df["std"]
df

         mean    std  effect     cohen
circ   41.792  8.607  -3.942 -0.457999
oval   41.782  7.427  -3.952 -0.532113
shape  38.138  9.369  -7.596 -0.810759